:root {
    --navbar-height: 100px;
}

* {
    margin: 0;
    padding: 0;
}

section {
    scroll-margin-top: var(--navbar-height);
}

.text-bigger {
    font-size: 50px;
}

.navbar {
    background-color: #334257;
    min-height: var(--navbar-height);
    font-weight: 400;
}

.navbar-brand {
    font-size: 35px;
}

.nav-link {
    font-size: 25px;
}

#mainSection, #sobreSection, #contatoSection {
    background-color: #EEEEEE;
}

#portfolioSection, #experienciaSection {
    background-color: #E8E8E8;
}

.default-sections-min-height {
    min-height: calc(100vh - var(--navbar-height));
}

.w-20 {
    width: 20%;
}

.sobre-text p {
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
}

.experience-logos img {
    width: 130px;
    height: 130px;
    max-height: 130px;
    margin-bottom: 10px;
}

.experience-logo {
    margin-bottom: 40px;
}

.rounded-profile-picture {
    width: 250px;
    height: 250px;
}

.social-logo {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 25px;
}

.social-logo a:hover {
    color: #52489C !important;
}

.c-gold {
    color: #fb8500 !important;
}